header{
  background-color: #e24647;
  color:#FFF;
  overflow: hidden;
}
h1{
  font-size: 40px;
  font-family: Arial, sans-serif;
  float: left;
}
nav{
  font-family: 'Segoe UI', 'Roboto', serif;
  font-size: 21px;
  float: right;
}
a{
  text-decoration: none;
  line-height: 28px;
  color: inherit;
}